protoc.exe
.idea
.vs
FruitonClient/Assets/Libraries/kernel.dll
FruitonClient/Assets/Libraries/protobufs.dll
FruitonClient/Assets/Libraries/kernel.dll.meta
FruitonClient/Assets/Libraries/protobufs.dll.meta
FruitonClient/Assets/Resources/Kernel/
FruitonClient/Assets/Resources/Kernel.meta
FruitonClient/Assets/Scripts/Kernel
FruitonClient/Assets/Scripts/Kernel.meta
FruitonClient/build/
