protoc.exe
.idea
FruitonClient/Assets/Resources/FruitonDb.json
FruitonClient/Assets/Resources/FruitonDb.schema.json
FruitonClient/Assets/Resources/FruitonDb.schema.json.meta
FruitonClient/Assets/Resources/FruitonDb.json.meta
FruitonClient/.vs/
