protoc.exe
.idea
FruitonClient/Assets/Resources/FruitonDb.json
FruitonClient/Assets/Resources/FruitonDb.schema.json
FruitonClient/Assets/Resources/FruitonDb.schema.json.meta
FruitonClient/Assets/Resources/FruitonDb.json.meta
FruitonClient/Assets/Libraries/kernel.dll
FruitonClient/Assets/Libraries/protobufs.dll
FruitonClient/Assets/Libraries/kernel.dll.meta
FruitonClient/Assets/Libraries/protobufs.dll.meta

